    <html xmlns="http://www.w3.org/1999/xhtml">
		<script type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <!--  {{chart.as_html}} -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ array|safe }});
        var options = {
          title: 'My Daily Activities'
        };
       var chart = new google.visualization.PieChart(document.getElementById('success_div'));
        chart.draw(data, options);
      }
    </script>
    </html>